<div class="Aligner" *ngIf="allRequests">
  <div *ngFor "let request of allRequests">
    <mat-card style="max-width: 800px">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image" style="background-image: url('../../../../../assets/image/11.png')"></div>
        <mat-card-title>For the project {{request.projectName}}</mat-card-title>
        <mat-card-subtitle>Applied Date: {{request.requestedDate}}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <label>required date : 
        <p>{{request.expectingDate}}</p>
      </label>
        <label>requesting resource level : 
        <p *ngIf="request.resourceLevel === 2">Resource Manager</p>
        <p *ngIf="request.resourceLevel === 3">Project Manager</p>
        <p *ngIf="request.resourceLevel === 4">Senior Software Engineer</p>
        <p *ngIf="request.resourceLevel === 5">Software Engineer</p>
        <p *ngIf="request.resourceLevel === 6">Quaity Asuerer</p>
        <p *ngIf="request.resourceLevel === 7">Business Analysist</p>
        <p *ngIf="request.resourceLevel === 8">Intern</p>
      </label>
        <label>comments : 
        <p>{{request.comments}}</p>
      </label>

        <mat-form-field (click)="getAvailableResources(request.resourceLevel,request.id)">
          <mat-select placeholder="Select the allocatable user" *ngIf="forcussedItem === request.id">
            <mat-option *ngFor="let food of allRequests" [value]="food.value">
              {{ food.viewValue }}
            </mat-option>
          </mat-select>
        </mat-form-field>

      </mat-card-content>
      <mat-card-actions class="pull-right">
        <button mat-button>Allocate</button>
        <button mat-button>Deny</button>
      </mat-card-actions>
    </mat-card>
    <mat-divider></mat-divider>
</div>