.example-card {
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    vertical-align: middle;
  }
  
  .example-header-image {
    background-image: url('../../../../assets/image/11.png');
    background-size: cover;
  }

/* to align the flex content to center*/
.Aligner {
    display: flex;
    align-items: center;
    justify-content: center;
  }