
<mat-card class="list-item">



    <div class="row">
      <div class="col-lg-2">
        <img class="img-circle img-responsive center-block" src="../../../../assets/image/5.png" alt="">
      </div>
      <div class="col-lg-9">

        <h3>Darshana Waasala
          <span style="background-color: rgba(221, 17, 79, 0.93); font-size: small;"></span>
        </h3>
        <h4>
          I am a dedicated, passionate and hardworking individual, working towards becoming a successful IT professional in future.
        </h4>
        <h4>
          <span class="label label-default skills" style="display: inline-flex!important">Java</span>
        </h4>
        <div class="pull-right">
          <span class="std_index" hidden="">134153F</span>
          <a style="text-decoration: none;background-color: #D3D3D3;color: black" class="cv-btn" href="https://drive.google.com/file/d/1bLsJpgxWNO3E-cQwtoumJZlFTh16ATE8/view?usp=sharing"
            target="_blank">View CV</a>
          <button class="cv-btn readMore" style="text-decoration: none;background-color: #D3D3D3;color: black">More Details</button>
        </div>
      </div>
    </div>
    Simple card
  </mat-card>

  <mat-card class="list-item">



    <div class="row">
      <div class="col-lg-2">
        <img class="img-circle img-responsive center-block" src="../../../../assets/image/5.png" alt="">
      </div>
      <div class="col-lg-9">

        <h3>Darshana Waasala
          <span style="background-color: rgba(221, 17, 79, 0.93); font-size: small;"></span>
        </h3>
        <h4>
          I am a dedicated, passionate and hardworking individual, working towards becoming a successful IT professional in future.
        </h4>
        <h4>
          <span class="label label-default skills" style="display: inline-flex!important">Java</span>
        </h4>
        <div class="pull-right">
          <span class="std_index" hidden="">134153F</span>
          <a style="text-decoration: none;background-color: #D3D3D3;color: black" class="cv-btn" href="https://drive.google.com/file/d/1bLsJpgxWNO3E-cQwtoumJZlFTh16ATE8/view?usp=sharing"
            target="_blank">View CV</a>
          <button class="cv-btn readMore" style="text-decoration: none;background-color: #D3D3D3;color: black">More Details</button>
        </div>
      </div>
    </div>
    Simple card
  </mat-card>
  