<!-- <div class="Aligner">
<mat-card style="max-width: 800px">
  <mat-card-actions>
      <button mat-raised-button color="primary">Primary</button>
      <button mat-raised-button color="primary">Primary</button>

    <mat-button-toggle-group #group="matButtonToggleGroup">
      <mat-button-toggle value="left">
        <mat-icon>format_align_left</mat-icon>
        align left
      </mat-button-toggle>
      <mat-button-toggle value="center">
        <mat-icon>format_align_center</mat-icon>
        align center
      </mat-button-toggle>
      <mat-button-toggle value="right">
        <mat-icon>format_align_right</mat-icon>
        align right
      </mat-button-toggle>
      <mat-button-toggle value="justify" disabled>
        <mat-icon>format_align_justify</mat-icon>
      </mat-button-toggle>
    </mat-button-toggle-group>
  </mat-card-actions>
</mat-card>
</div> -->

<mat-card>
  <mat-toolbar>
    <span class="keep-space"></span>
    <mat-button-toggle-group #group="matButtonToggleGroup">
      <mat-button-toggle value="left">
        <mat-icon>done </mat-icon>
        Approved by PM
      </mat-button-toggle>
      <mat-button-toggle value="center">
        <mat-icon>done_all </mat-icon>
        Approved by PM & RM
      </mat-button-toggle>
      <mat-button-toggle value="right">
        <mat-icon>weekend </mat-icon>
        Approved By None
      </mat-button-toggle>
      <mat-button-toggle value="justify">
        <mat-icon>work</mat-icon>
        Seen By None
      </mat-button-toggle>
    </mat-button-toggle-group>

  </mat-toolbar>

</mat-card>

<mat-divider></mat-divider>


<div class="Aligner">
  <mat-card style="max-width: 800px;">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Shiba Inu</mat-card-title>
      <mat-card-subtitle>Applied Date: {{today}}</mat-card-subtitle>
    </mat-card-header>
    <!-- <img mat-card-image src="../../../../assets/image/11.png" alt="Photo of a Shiba Inu"> -->
    <mat-card-content>
      <p>
        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan. A small, agile dog that copes
        very well with mountainous terrain, the Shiba Inu was originally bred for hunting.
      </p>
    </mat-card-content>
    <mat-card-actions class="pull-right">
      <button mat-button>Approve</button>
      <button mat-button>Deny</button>
    </mat-card-actions>
  </mat-card>
  <mat-divider></mat-divider>
</div>
<div class="Aligner">
  <mat-card style="max-width: 800px">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Shiba Inu</mat-card-title>
      <mat-card-subtitle>Applied Date: {{today}}</mat-card-subtitle>
    </mat-card-header>
    <!-- <img mat-card-image src="../../../../assets/image/11.png" alt="Photo of a Shiba Inu"> -->
    <mat-card-content>
      <p>
        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan. A small, agile dog that copes
        very well with mountainous terrain, the Shiba Inu was originally bred for hunting.
      </p>
    </mat-card-content>
    <mat-card-actions class="pull-right">
      <button mat-button>Approve</button>
      <button mat-button>Deny</button>
    </mat-card-actions>
  </mat-card>
  <mat-divider></mat-divider>
</div>
<div class="Aligner">
  <mat-card style="max-width: 800px">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Shiba Inu</mat-card-title>
      <mat-card-subtitle>Applied Date: {{today}}</mat-card-subtitle>
    </mat-card-header>
    <!-- <img mat-card-image src="../../../../assets/image/11.png" alt="Photo of a Shiba Inu"> -->
    <mat-card-content>
      <p>
        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan. A small, agile dog that copes
        very well with mountainous terrain, the Shiba Inu was originally bred for hunting.
      </p>
    </mat-card-content>
    <mat-card-actions class="pull-right">
      <button mat-button>Approve</button>
      <button mat-button>Deny</button>
    </mat-card-actions>
  </mat-card>
  <mat-divider></mat-divider>
</div>