<mat-card>
  <h3 class="inline-block">Department</h3>
  <button class='inline-block' mat-raised-button color="warn" (click)='openDialog()'>create new</button>

  <div class="example-header">
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>
  </div>

  <div class="example-container mat-elevation-z8">

    <mat-table [dataSource]="dataSource" matSort>

      <!-- ID Column -->
      <ng-container matColumnDef="project">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Projects </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.project}} </mat-cell>
      </ng-container>

      <!-- Progress Column -->
      <ng-container matColumnDef="resource">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Resources </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.resource}} </mat-cell>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.name}} </mat-cell>
      </ng-container>

      <!-- Color Column -->
      <ng-container matColumnDef="color">
        <mat-header-cell *matHeaderCellDef mat-sort-header>  </mat-header-cell>
        <mat-cell *matCellDef="let row"> 
          <a (click)='openDialog(row)'>Edit</a><label> | </label><a (click)='openDialog()'>Details</a><label> | </label><a>Delete</a> 
        </mat-cell>
      </ng-container>

  <!-- Color Column ORIGINAL COPY -->
  <!-- <ng-container matColumnDef="color">
      <mat-header-cell *matHeaderCellDef mat-sort-header>  </mat-header-cell>
      <mat-cell *matCellDef="let row" [style.color]="row.color"> 
        <a>edit</a>|<a>details</a>|<a>delete</a> 
      </mat-cell>
    </ng-container> -->

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;">
      </mat-row>
    </mat-table>

    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
  </div>


</mat-card>