<mat-tab-group [dynamicHeight]='true'>
  <mat-tab label="general project information" position=0 *ngIf="currentProject && projectManager && resourceManager">

      <div class="button-row">
          <button mat-raised-button color="warn" (click)="newEventDialog()">Resource Request</button>
        </div>

    <h3>project name : {{currentProject.projectName}}</h3>
    <p>Project Manager : {{projectManager.lastName}}</p>
    <p>Resource Manager : {{resourceManager.lastName}}</p>
    <p>Budget : {{currentProject.budjet}}</p>
    <label>Expences upto now</label>
    <p>
      <ngb-progressbar [showValue]="true" type="info" [value]="80"></ngb-progressbar>
    </p>
    <p>$ {{currentProject.totalExpencesUptoNow}}</p>
  </mat-tab>

  <mat-tab label="project event time line" *ngIf="currentProject">

    <!-- <div id="main-wrap">
      <div id="sidebar">
        <h3>project name : {{currentProject.projectName}}</h3>
        <p>Project Manager : {{projectManager}}</p>
        <p>Resource Manager : {{resourceManager}}</p>
        <p>Budget : {{currentProject.budjet}}</p>
        <label>Expences upto now</label>
        <mat-progress-bar mode="determinate" value="{{currentProject.totalExpencesUptoNow/currentProject.budjet}}" [color]="warn"></mat-progress-bar>
      </div>
      <div id="content-wrap"> -->

          <div class="button-row">
              <button mat-raised-button color="warn" (click)="newEventDialog()">create new project</button>
            </div>

        <div class="timeline">
          <div *ngFor="let event of projectEvents; let i = index" [class]="(i%2 === 0) ? 'container left' : 'container right'">
            <div class="content" (mouseover)="testing()">
              <h2>2017</h2>
              <button type="button" class="btn btn-outline-secondary" ngbPopover="You see, I show up on hover!" triggers="mouseenter:mouseleave" popoverTitle="Pop title">
                  Hover over me!
                </button>
              <p>{{event}}</p>
            </div>

          </div>
        </div> 


      <!-- </div>
    </div> -->

  </mat-tab>
</mat-tab-group>